* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-snap-type: y mandatory;
}
body {
  color: white;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
  height: 50px;
  width: 50px;
  border-radius: 30px;
  position: fixed;
  top:92vh;
  align-self: center;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
nav:hover{
  background: rgb(100, 100, 100);
}
nav a{
  text-decoration: none;
  font-size: 60px;
  font-weight: 500;
  color: #fff;
}

.app_videos {
  position: relative;
  height: 90%;
  background-color: white;
  overflow: scroll;
  width: 100%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
}

.app_videos::-webkit-scrollbar {
  display: none;
}

.app_videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.video {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.video_player {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.videoSidebar {
  position: absolute;
  top: 40%;
  right: 10px;
}

.videoSidebar .material-icons {
  font-size: 28px;
  cursor: pointer;
}

.videoSidebar_button {
  padding: 20px;
  text-align: center;
}

.videoFooter {
  position: relative;
  bottom: 150px;
  margin-left: 20px;
  color: white;
  display: flex;
}

.videoFooter_text h3 {
  padding-bottom: 20px;
}

.videoFooter_description {
  padding-bottom: 20px;
}

@media (max-width: 425px) {
  .app_videos {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #b2d7ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input[type="file"] {
  margin-bottom: 10px;
}

/* upload page */
#upload-button{
  width: 300px;
  height: 60px;
  background: rgb(15, 2, 2);
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 50px;
  
}

input{
  font-size:20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  background-color: #ffffff;
}

input::file-selector-button{
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: 200;
  background-color: #4bcdf1;
  border-radius: 20px;
  border: none;
  height: 3rem;
  margin-right: 15px;
}
 section{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
.container{
  border: dashed 5px rgb(168, 168, 168) ;
  border-radius: 20px;
  height: 80vh;
  width:50vh;
  margin: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #a4a4a4;
}
#file-input{
  display: flex;
  align-items: center;
  justify-content: center;
  width:350px
}
#upload-container{
  background-color: #9ce9fe;
}