* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-snap-type: y mandatory;
}
form{
  position: fixed;
  top:0;
}
body {
  color: white;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
  height: 50px;
  width: 50px;
  border-radius: 30px;
  position: fixed;
  top:92vh;
  align-self: center;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
nav:hover{
  background: rgb(100, 100, 100);
}
nav a{
  text-decoration: none;
  font-size: 60px;
  font-weight: 500;
  color: #fff;
}

.app_videos {
  position: relative;
  height: 90%;
  background-color: white;
  overflow: scroll;
  width: 100%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
}

.app_videos::-webkit-scrollbar {
  display: none;
}

.app_videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.video {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  scroll-snap-align: start;
}

.video_player {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.videoSidebar {
  position: absolute;
  top: 40%;
  right: 10px;
}

.videoSidebar .material-icons {
  font-size: 28px;
  cursor: pointer;
}

.videoSidebar_button {
  padding: 20px;
  text-align: center;
}

.videoFooter {
  position: relative;
  bottom: 150px;
  margin-left: 20px;
  color: white;
  display: flex;
}

.videoFooter_text h3 {
  padding-bottom: 20px;
}

.videoFooter_description {
  padding-bottom: 20px;
}

@media (max-width: 425px) {
  .app_videos {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input[type="file"] {
  margin-bottom: 10px;
}